body {
    font-family: 'Asap', sans-serif;
    color:#ECD2C9;
    background-color: #0F38B1;
}

.background-beige {
    color: black;
    background-color: #ECD2C9;
}

a {
    color:#ECD2C9;
}

a:hover {
    color:white;
}

.search-hl {
    color: yellow;
}

.full-viewport-height {
    height: 100vh;
}

.three-quarters-viewport-height {
    height: 75vh;
}

.parcent-35-vh {
    height: 35vh;
}

i.fa-1point5x {
    font-size: 1.5rem;
}

img.host {
    width: 100px;
    height: auto;
}