* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:#F2F2F2;
	background-color: #4F4F4F;
}

.container {
	max-width: 100%;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}

.header-container {
	display: inline-flex;
	position: fixed;
	width: 100%;
	top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}

.dot {
	width: 36px;
	height: 36px;
	background-color: #C4C4C4;
	border-radius: 50%;
	display: inline-block;
}

.name {
	display: inline-flex;
	align-items: center;
	width: auto;
}

.name h1 {
	display: inline;
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0 0 0 10px;
}

.login {
	display: inline-block;
	background-color: Transparent;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-size: 14px;
	margin-left: 15px;
	color: #F2F2F2;
	opacity: 0.5;
}

.search-container-top {
	display: none;
}

.content {
	min-height: calc(100vh - 70px);
	padding-top: 111px;
	padding-bottom: 111px;
	max-height: 100vh;
}

.indicator {
	cursor: pointer;
	width: 36px;
	height: 12px;
	background-color: #C4C4C4;
	border-radius: 6px;
	display: inline-block;
	margin-right: 10px;
	opacity: 35%;
}

.indicators .active {
	opacity: 100%;
}

.overview-editable {
	margin-top: 30px;
}

.overview-editable h2 {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 30px;
}

.overview-editable p {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}

.links {
	margin-top: 30px;
}

.link {
	cursor: pointer;
	font-size: 35px;
	color: #C4C4C4;
	margin-right: 15px;
}

.deco-bar {
	position: fixed;
	background-color: #C4C4C4;
	z-index: -1;
	width: 10px;
	right: 0;
	top: 0;
	bottom: 0;
}

.host {
	display: block;
	margin-bottom: 30px;
}

.host h3 {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	margin-bottom: 5px;
}

.host .photo {
	display: inline-block;
	min-width: 80px;
	min-height: 80px;
	margin-bottom: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.host p {
	font-size: 14px;
}

.episodes {
	padding-bottom: 70px;
}

.episode {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
	transition-duration: 0.5s;
	transition-property: background-color;
}

.episode:hover, .episode:focus {
	background-color: #333333;
}

.episode-cover {
	display: inline-block;
	min-width: 75px;
	min-height: 75px;
	margin-right: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}

.episode-description h4 {
	font-size: 10px;
	font-weight: 400;
	padding-bottom: 5px;
}

.episode-description h3 {
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	font-weight: 400;
}

.player {
	position: fixed;
	background-color: #333333;
	height: 70px;
	left: 0;
	right: 0;
	bottom: 0;
}

.player-interface {
	display: flex;
	align-items: flex-end;
	align-items: center;
	padding: 20px 0;
}

.now-playing-info-desktop {
	display: none;
}

.play-button {
	color: #C4C4C4;
	font-size: 30px;
	margin-right: 15px;
}

.step-backward-button, .forward-button, .step-forward-button {
	display: none;
}

.now-playing {
	flex-grow: 1;
}

.now-playing-info-mobile {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.now-playing-info-mobile .ep {
	font-size: 12px;
	padding-right: 6px;
	border-right: solid 1px #C4C4C4;
}

.now-playing-info-mobile .title {
	font-family: 'Noto Serif', serif;
	font-size: 12px;
	padding-left: 6px;
}

.progress-bar {
	display: flex;
	align-items: center;
	width: 100%;
}

.progress-bar .bar {
	flex-grow: 1;
	height: 4px;
	border-radius: 2px;
	background-color: #C4C4C4;
	margin-bottom: 5px;
	opacity: 35%;
}

.progress-bar .current-time, .progress-bar .end-time {
	display: none;
}

.search-container-middle {
	/* margin-top: 30px; */
	margin-bottom: 45px;
}

.search-container-middle input {
	width: calc(100% - 32px);
	padding: 9px 16px;
	font-size: 14px;
	border-radius: 36px;
	border: none;
	outline: none;
	background-color: #F2F2F2;
}

.search-icon-middle {
	position: relative;
	float: right;
	top: -20px;
	right: 14px;
	color: #4F4F4F;
	font-size: 24px;
	transform: translateY(-50%);
}

.edit-buttons {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.edit-buttons button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
	outline: none;
	margin-right: 8px;
}

.modal {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-window {
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
}

.modal-top-bar {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	background-color: #333333;
}

.modal-top-bar .close-button {
	font-size: 20px;
	color: #FEFEFE;
	background-color: Transparent;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.modal-top-bar .close-button:hover, .modal-top-bar .close-button:focus {
	opacity: 50%;
}

.modal-top-bar .save-button {
	width: 80px;
	height: 30px;
	font-size: 14px;
	color: #FEFEFE;
	background-color: #4F4F4F;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.modal-content {
	padding: 25px 30px 30px 30px;
	color: #4F4F4F;
}

.modal-content label {
	font-size: 14px;
	font-weight: 700;
	color: #4F4F4F;
}

.modal-content textarea {
	resize: none;
	width: calc(100% - 32px);
	font-size: 12px;
	line-height: 135%;
	color: #4F4F4F;
	background-color: #F2F2F2;
	padding: 8px 16px;
	margin-top: 8px;
	margin-bottom: 20px;
	border: solid 1px #BDBDBD;
	border-radius: 6px;
}

.modal-content input {
	width: calc(100% - 32px);
	font-size: 12px;
	line-height: 135%;
	color: #4F4F4F;
	background-color: #F2F2F2;
	padding: 8px 16px;
	margin-top: 8px;
	margin-bottom: 20px;
	border: solid 1px #BDBDBD;
	border-radius: 6px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}

	.header-container {
		max-width: 540px;
		left: 50%;
		transform: translateX(-50%);
	}
}
  
@media (min-width: 768px) {
	.container {
		max-width: 720px;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: 30px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: 30px;
	}

	.header-container {
		justify-content: space-between;
		max-width: 720px;
		top: 30px;
		left: 50%;
		padding-right: 15px;
		padding-left: 15px;
		transform: translateX(-50%);
		vertical-align: middle;
	}

	.login {
		margin-left: 20px;
	}

	.deco-bar {
		width: 50px;
	}

	.search-container-top {
		display: inline-block;
		width: auto;
	}

	.search-container-top input {
		width: calc(360px - 32px);
		padding: 11px 16px;
		font-size: 14px;
		border-radius: 36px;
		border: none;
		outline: none;
		background-color: #F2F2F2;
	}

	.search-icon-top{
		position: fixed;
		right: 30px;
		top: 4px;
		color: #4F4F4F;
		font-size: 24px;
	}

	.search-container-middle {
		display: none;
	}

	.content {
		grid-column: 1 / 10;
		min-height: calc(100vh - 100px);
		padding-top: 196px;
		padding-bottom: 196px;
	}

	.overview-editable {
		margin-top: 75px;
	}

	.overview-editable h2 {
		font-size: 26px;
	}

	.overview-editable p {
		font-size: 16px;
	}
	
	.links {
		margin-top: 25px;
	}

	.host {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
	}

	.host .photo {
		display: inline-block;
		min-width: 125px;
		min-height: 125px;
		margin-right: 25px;
		margin-bottom: 0;
	}

	.host h3 {
		margin-bottom: 10px;
	}

	.episodes {
		padding-bottom: 100px;
	}

	.episode {
		margin-bottom: 40px;
	}

	.episode-cover {
		min-width: 120px;
		min-height: 120px;
		margin-right: 20px;
	}

	.episode-description h4 {
		font-size: 16px;
		padding-bottom: 10px;
	}
	
	.episode-description h3 {
		font-size: 24px;
		
	}

	.player {
		height: 100px;
	}
	
	.player-interface {
		grid-column: 5 / 13;
		padding: 37px 0;
	}

	.step-backward-button, .forward-button {
		display: block;
		color: #C4C4C4;
		font-size: 26px;
		margin-right: 20px;
	}

	.play-button {
		font-size: 26px;
		margin-right: 20px;
	}

	.step-forward-button {
		display: block;
		color: #C4C4C4;
		font-size: 26px;
		margin-right: 40px;
	}

	.now-playing-info-mobile {
		display: none;
	}

	.now-playing-info-desktop {
		grid-column: 1 / 5;
		display: flex;
		align-items: center;
		margin: 20px 0;
	}

	.now-playing-info-desktop .now-playing-episode-cover {
		display: block;
		min-width: 60px;
		min-height: 60px;
		margin-right: 15px;
		background-image: url(../img/ep2_cover.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.now-playing-info-desktop .ep {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.now-playing-info-desktop .title {
		font-family: 'Noto Serif', serif;
		font-size: 14px;
	}

	.progress-bar .current-time, .progress-bar .end-time {
		display: block;
		font-size: 14px;
	}

	.progress-bar .bar {
		margin: 0 10px;
	}

	.edit-buttons {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 24px;
		transform: translate(-54px, 10px);
		margin-bottom: 0;
	}

	.edit-buttons button {
		margin-right: 0px;
		margin-bottom: 10px;
	}

	.modal-window {
		margin: 100px auto 0 auto;
		width: 650px;
		height: auto;
	}
}
  
@media (min-width: 992px) {
	.container, .header-container {
		max-width: 960px;
	}
}
  
@media (min-width: 1200px) {
	.container, .header-container {
		max-width: 1140px;
	}
}