.episodes {
	padding-bottom: 70px;
}

.episode {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	width: 100%;
	padding: 0;
	margin-bottom: 30px;
	transition-duration: 0.5s;
	transition-property: background-color;
}

.episode:hover, .episode:focus {
	background-color: #4F4F4F;
}

.episode-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 75px;
	height: 75px;
	margin-right: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}

.episode-cover .play-icon {
	font-size: 30px;
	color: black;
	display: none;
}

.episode-cover:hover {
	cursor: pointer;
	/* opacity: 50%; */
}

.episode-cover:hover .play-icon {
	cursor: pointer;
	display: block;
	/* opacity: 100%; */
}

.episode-description h3 {
	font-size: 10px;
	font-weight: 400;
	padding-bottom: 5px;
}

.episode-description h4 {
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	font-weight: 400;
}

.episode-description p {
	width: 100%;
	margin-top: 10px;
	line-height: 140%;
}

@media (min-width: 768px) {
	.episodes {
		padding-bottom: 100px;
	}

	.episode {
		padding: 25px 25px 25px 0;
		margin-bottom: 40px;
	}

	.episode-cover {
		min-width: 120px;
		min-height: 120px;
		margin-right: 20px;
	}


	.episode-description h3 {
		font-size: 14px;
		padding-bottom: 10px;
	}
	
	.episode-description h4 {
		font-size: 24px;
	}
}