* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:#F2F2F2;
	background-color: #4F4F4F;
}

#background {
	background-color: #4F4F4F;
	transition: all 1s linear;
}

#background.change {
	background-color: #828282;
	transition: all 1s linear;
}

.container {
	max-width: 100%;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}

.header-container {
	display: inline-flex;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 30px 30px 5px 30px;
	margin-right: auto;
	margin-left: auto;
	/* background-image: linear-gradient(to bottom, rgba(79,79,79,1) 50%, rgba(79,79,79,0) 100%); */
	background-color: rgba(79,79,79,0.9);
	transition: background-color 1s linear;
	z-index: 47;
}

.header-container.change {
	/* background-image: linear-gradient(to bottom, rgba(130,130,130,1) 50%, rgba(130,130,130,0) 100%); */
	background-color: rgba(130,130,130,0.9);
	transition: background-color 1s linear;
}

.dot {
	width: 36px;
	height: 36px;
	background-color: #C4C4C4;
	border-radius: 50%;
	display: inline-block;
}

.name {
	display: inline-flex;
	align-items: center;
	width: auto;
}

.name h1 {
	display: inline;
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0 0 0 10px;
}

.login {
	display: inline-block;
	background-color: Transparent;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-size: 14px;
	margin-left: 15px;
	color: #BDBDBD;
}

.search-container-top {
	display: none;
}

.content {
	/* min-height: calc(100vh - 70px); */
	/* max-height: 100vh; */
	padding-top: 111px;
	padding-bottom: 111px;
}

.indicator {
	cursor: pointer;
	width: 36px;
	height: 12px;
	background-color: #C4C4C4;
	border-radius: 6px;
	display: inline-block;
	margin-right: 10px;
	opacity: 35%;
}

.indicators .active {
	opacity: 100%;
}

.overview-editable {
	margin-top: 30px;
}

.overview-editable h2 {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 30px;
}

.overview-editable p {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}

.links {
	margin-top: 30px;
}

.link {
	cursor: pointer;
	font-size: 35px;
	color: #C4C4C4;
	margin-right: 15px;
}

.deco-bar {
	position: fixed;
	background-color: #C4C4C4;
	width: 10px;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 48;
}

.host {
	display: block;
	margin-bottom: 30px;
}

.host h3 {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	margin-bottom: 5px;
}

.host .photo {
	display: inline-block;
	min-width: 80px;
	min-height: 80px;
	margin-bottom: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.host p {
	font-size: 14px;
}

.search-container-middle {
	margin-bottom: 45px;
}

.search-container-middle input {
	width: calc(100% - 32px);
	padding: 9px 16px;
	font-size: 14px;
	border-radius: 36px;
	border: none;
	outline: none;
	background-color: #F2F2F2;
}

.search-container-middle button {
	background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
	outline: none;

	position: relative;
	float: right;
	top: -20px;
	right: 14px;
	color: #4F4F4F;
	font-size: 24px;
	transform: translateY(-50%);
}

.edit-buttons {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.edit-buttons button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
	outline: none;
	margin-right: 8px;
}

.edit-buttons .inactive {
	opacity: 25%;
}

.fa-spinner {
	margin-top: 30px;
	font-size: 30px;
}

.spinner-inactive {
	display: none;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}

	.header-container {
		max-width: 540px;
		left: 50%;
		transform: translateX(-50%);
	}
}
  
@media (min-width: 768px) {
	.container {
		max-width: 720px;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: 30px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: 30px;
	}

	.header-container {
		justify-content: space-between;
		max-width: 720px;
		left: 50%;
		padding-right: 15px;
		padding-left: 15px;
		transform: translateX(-50%);
		vertical-align: middle;
	}

	.login {
		margin-left: 20px;
	}

	.deco-bar {
		width: 50px;
	}

	.search-container-top {
		display: inline-block;
		width: auto;
	}

	.search-container-top input {
		width: calc(360px - 32px);
		padding: 11px 16px;
		font-size: 14px;
		border-radius: 36px;
		border: none;
		outline: none;
		background-color: #F2F2F2;
		z-index: 50;
	}

	.search-container-top button{
		background-color: Transparent;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
		
		position: fixed;
		right: 30px;
		top: 34px;
		color: #4F4F4F;
		font-size: 24px;
	}

	.search-container-middle {
		display: none;
	}

	.content {
		grid-column: 1 / 10;
		/* min-height: calc(100vh - 100px); */
		padding-top: 196px;
		padding-bottom: 196px;
	}

	.overview-editable {
		margin-top: 75px;
	}

	.overview-editable h2 {
		font-size: 26px;
	}

	.overview-editable p {
		font-size: 16px;
	}
	
	.links {
		margin-top: 25px;
	}

	.host {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
	}

	.host .photo {
		display: inline-block;
		min-width: 125px;
		min-height: 125px;
		margin-right: 25px;
		margin-bottom: 0;
	}

	.host h3 {
		margin-bottom: 10px;
	}

	.edit-buttons {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 24px;
		transform: translate(-54px, 10px);
		margin-bottom: 0;
	}

	.edit-buttons button {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
  
@media (min-width: 992px) {
	.container, .header-container {
		max-width: 960px;
	}
}
  
@media (min-width: 1200px) {
	.container, .header-container {
		max-width: 1140px;
	}
}